.img__container {
  position: relative;
  height: 100%;
  width: 100%;
}

#background__img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.background__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 1;
}
