* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

a {
  color: white;
}

a:active {
  color: white;
}

a:hover {
  color: #9a9a9a;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
